/* #region Header */
.header {}

.header-nav {}

.header-logo {
        color: rgb(46, 47, 66);
        font-family: Raleway;
        font-size: 18px;
        font-weight: 700;
        line-height: 21px;
        letter-spacing: 0.03em;
        text-align: left;
        text-transform: uppercase;
}

.nav-list {}

.nav-link {
        color: rgb(46, 47, 66);
        font-family: Roboto;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.02em;
        text-align: left;
}

.contact {}

.contact-list {}

.contact-item {
        color: rgb(67, 68, 85);
        font-family: Roboto;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.02em;
        text-align: left;
}
/* #endregion */
/* #region Hero */
.hero {
        background: rgb(46, 47, 66);
}

.hero-title {
        color: rgb(255, 255, 255);
        font-family: Roboto;
        font-size: 56px;
        font-weight: 700;
        line-height: 60px;
        letter-spacing: 0.02em;
        text-align: center;
}

.hero-button{
        color: rgb(255, 255, 255);
        font-family: Roboto;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.04em;
        text-align: left;
        border-radius: 4px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
        background: rgb(77, 90, 229);
}
/* #endregion*/
/* #region Studios */
.studio {}

.studios-title {}

.studios-list {}

.studios-item {}

.studios-subtitle {
        color: rgb(46, 47, 66);
        font-family: Roboto;
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.02em;
        text-align: left;
}

.studios-text {
        color: rgb(67, 68, 85);
        font-family: Roboto;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.02em;
        text-align: left;
}
/* #endregion*/
/* #region Contacts */
.contacts {}

.contacts-title {
        color: rgb(46, 47, 66);
        font-family: Roboto;
        font-size: 36px;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: 0.02em;
        text-align: center;
}

.contacts-list {}

.contacts-item {}

.contacts-img {}

.contacts-subtitle {
        color: rgb(46, 47, 66);
        font-family: Roboto;
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.02em;
        text-align: center;
}

.contacts-text {
        color: rgb(67, 68, 85);
        font-family: Roboto;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.02em;
        text-align: center;
}
/* #endregion*/
/* #region Portfolio */
.portfolio {}

.portfolio-title {
        color: rgb(46, 47, 66);
        font-family: Roboto;
        font-size: 36px;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: 0.02em;
        text-align: center;
}

.portfolio-list {}

.portfolio-item {}

.portfolio-image {}

.portfolio-subtitle {
        color: rgb(46, 47, 66);
        font-family: Roboto;
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.02em;
        text-align: left;
}

.portfolio-text {
        color: rgb(67, 68, 85);
        font-family: Roboto;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.02em;
        text-align: left;
}
/* #endregion*/
/* #region Footer */
.footer {
        background: rgb(46, 47, 66);
}

.footer-logo {
        color: rgb(244, 244, 253);
        font-family: Raleway;
        font-size: 18px;
        font-weight: 700;
        line-height: 21px;
        letter-spacing: 0.03em;
        text-align: left;
        text-transform: uppercase;
}

.footer-text {
        color: rgb(244, 244, 253);
        font-family: Roboto;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.02em;
        text-align: left;
}
/* #endregion*/
/*#region Logo*/
.logo {
        color: rgb(77, 90, 229);
        font-family: Raleway;
        font-size: 18px;
        font-weight: 700;
        line-height: 21px;
        letter-spacing: 0.03em;
        text-align: left;
        text-transform: uppercase;
}
/*#endregion*/